{% extends "layout.html" %} 

{% block body %}

<div class="jumbotron text-center">
    <h3 id="deneme">Muhammed Çetin Bloğuna Hoşgeldiniz.</h3>
    <br>
    <p>Şimdi izi kalmamış anlattıklarının. Kız kimdi, ne olmuştu, neden kızmıştı, küfürlerinin kaynağı neydi? Biri bile yok aklımda. Ağır ağır yürümüştük. Ta denize kadar onu dinleye dinleye... Bir boşalma anıydı. Yoksa kendine saklardı her şeyini. Sorsanız,
        kızardı da… “Sana ne?” derdi. Ben, anlatırsa dinlerdim; bir öyküsünü okursa, bir sıkıntısını belirtirse… En iyisi budur. Dost dediğin sıkmaz, üzmez, sorun çıkarmaz, çok da meraklı olmaz. Kişi, kendi dünyasında yaşamalıdır. Hele sanatçıysa, yazarsa,
        hele hele o sanatçı, o yazar, Sait Faik Abasıyanık ise…” Bir gün kalktık Gülhane Parkı’na gittik. Mevsim güzdü. Yapraklar yerlere serilmiş, en hafif esintide ayaklarımıza düşüyor. Kimseler yoktu görünürde. Bir boy yürüdük. Bir aşk öyküsüydü anlattığı…
        Bu kaçıncı aşktı yaşadığı? Ben birini öykülerinden bilirdim. “Medarı Maişet Motoru"ndan... Hani Adapazarı istasyonunun buharlı camına durmadan adını yazıp sildiği kızı… sonra bir de kolejli vardı. Derken sevgilisiyle barışmış, vazgeçmiş kendisinden
        yaşlı ünlü yazarın aşkından… Bu kez de bir başkasıydı.</p>
</div>

{% endblock %}